@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.quartier-tile {
  stroke: #fff;
  stroke-width: 0.5px;
  transition: all 0.2s;
}

.quartier-tile.highlighted {
  stroke: #2c3e50;
  stroke-width: 1 px;
  fill-opacity: 0.7;
  cursor: crosshair;
}
